

params {
    // illumina iGenomes reference file paths
    vep {
		'110_GRCh38' {
            cache_dir		= '/mnt/software/MY_ORG_SOFTWARE/DATABASES/hg38/VEP/CACHE/homo_sapiens_refseq_vep_110_GRCh38'
            VERSION    	 	= '110'
            BUILD       	= 'GRCh38'
			Loftee_data		= '/mnt/software/MY_ORG_SOFTWARE/DATABASES/hg38/VEP/loftee-data'
			Loftee_code		= '/mnt/software/MY_ORG_SOFTWARE/DATABASES/hg38/VEP/loftee-1.0.4_GRCh38'
			HGMD			= '/mnt/software/MY_ORG_SOFTWARE/DATABASES/HGMD/2024.1/HGMD_Pro_2024.1_hg38.vcf.gz'
			HGMD_idx		= '/mnt/software/MY_ORG_SOFTWARE/DATABASES/HGMD/2024.1/HGMD_Pro_2024.1_hg38.vcf.gz.tbi'
			ClinVar			= '/mnt/software/MY_ORG_SOFTWARE/DATABASES/hg38/Variation/clinvar_20240416.vcf.gz'
			ClinVar_idx		= '/mnt/software/MY_ORG_SOFTWARE/DATABASES/hg38/Variation/clinvar_20240416.vcf.gz.tbi'
			GNOMAD_GEN		= '/mnt/data/ref_data/Hsapiens/hg38/variation/gnomADv4.0.0/gnomad.genomes.v4.0.sites.merged.vcf.bgz'
			GNOMAD_GEN_idx	= '/mnt/data/ref_data/Hsapiens/hg38/variation/gnomADv4.0.0/gnomad.genomes.v4.0.sites.merged.vcf.bgz.tbi'
			GNOMAD_EXO		= '/mnt/data/ref_data/Hsapiens/hg38/variation/gnomADv4.0.0/gnomad.exomes.v4.0.sites.merged.vcf.bgz'
			GNOMAD_EXO_idx	= '/mnt/data/ref_data/Hsapiens/hg38/variation/gnomADv4.0.0/gnomad.exomes.v4.0.sites.merged.vcf.bgz.tbi'
		}

	}
}

