process {


	shell         = ['/bin/bash', '-euo', 'pipefail']
	errorStrategy = { task.exitStatus in [143,137,104,134,139,140,247,12] ? 'retry' : 'finish' }
	maxRetries    = 5
	maxErrors     = '-1'

	withName: '.*'{
        beforeScript = 'source /etc/profile.d/modules.sh'
    }

	withLabel: 'DRAGEN_SW' {
		beforeScript = 'ulimit -n 65536 && ulimit -u 16384'
	}

	withLabel: 'BCFTOOLS' {
		module = 'bcftools/1.18'
	}

	withName: 'RUN_IGG_COHORT_CENSUS' {
		cpus    = 16
		memory  = 64.GB
	}

	withName: 'RUN_IGG_GLOBAL_CENSUS'{
		cpus    = 8
		memory  = 32.GB
	}
	
	withName: 'RUN_IGG_MSVCF'{
		cpus    = 8
		memory  = 32.GB
	}

	withName: 'RUN_MERGE_MSVCF'{
		cpus    = 8
		memory  = 32.GB
	}

	withName: 'RUN_CONCAT_MSVCF'{
		cpus    = 8
		memory  = 32.GB
	}

	withLabel: 'VEP' {
		module = 'VEP/release-110:bcftools/1.18:SAMtools/1.19'
		memory  = 32.GB
		cpus = 8
	}
}
